<section class="page-title">
  <h3>N3Charts</h3>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard">Dashboard</a></li>
    <li class="active">N3Charrt</li>
  </ol>
  <div class="clearfix"></div>
</section>

<section class="content nvd3Chart">
  <!--row-->
  <section class="row" data-ng-controller="n3ChartCtrl">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Area Chart</div>
        <div class="panel-body text-center">
          <nvd3-stacked-area-chart
            data="data0"
            height="250"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"
            xAxisTickFormat="xAxisTickFormatFunctionDay()"
            showLegend="true"
            color="colorFunction()"
            legendColor="colorFunction()">
          </nvd3-stacked-area-chart>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Line Chart</div>
        <div class="panel-body text-center">
          <nvd3-cumulative-line-chart
            data="data1"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            height="250"
            interactive="true"
            xAxisTickFormat="xAxisTickFormatFunctionMonth()"
            showLegend="true"
            color="colorFunction()"
            legendColor="colorFunction()">
            <svg></svg>
          </nvd3-cumulative-line-chart>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->


    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Bar Chart</div>
        <div class="panel-body text-center">
          <nvd3-discrete-bar-chart
            data="data2"
            showXAxis="true"
            showYAxis="true"
            xAxisTickFormat="xAxisTickFormatFunctionMonth()"
            height="250"
            showLegend="true"
            color="colorFunction()"
            legendColor="colorFunction()">
            <svg></svg>
          </nvd3-discrete-bar-chart>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="clearfix"></div>
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Mutl Area Chart</div>
        <div class="panel-body text-center">
          <nvd3-stacked-area-chart
            data="data3"
            showXAxis="true"
            showYAxis="true"
            height="250"
            xAxisTickFormat="xAxisTickFormatFunctionDay()"
            showLegend="true"
            color="colorFunction()"
            legendColor="colorFunction()">
            <svg></svg>
          </nvd3-stacked-area-chart>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Multi Bar Chart</div>
        <div class="panel-body text-center">
          <nvd3-multi-bar-chart
            data="data4"
            height="250"
            showXAxis="true"
            showYAxis="true"
            xAxisTickFormat="xAxisTickFormatFunctionMonth()"
            showLegend="true"
            color="colorFunction()"
            legendColor="colorFunction()">
            <svg></svg>
          </nvd3-multi-bar-chart>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Scatter Chart</div>
        <div class="panel-body text-center">
          <nvd3-scatter-chart
            data="data5"
            height="300"
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()"
            color="colorFunction()"
            showLegend="true"
            legendColor="colorFunction()">
            <svg></svg>
          </nvd3-scatter-chart>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div class="panel">
        <div class="panel-heading"> Scatter Chart</div>
        <div class="panel-body text-center">
          <nvd3-scatter-chart
            data="data5"
            height="300"
            yAxisTickFormat="yAxisTickFormatFunction()"
            xAxisTickFormat="xAxisTickFormatFunction()"
            color="colorFunction()"
            showLegend="true"
            transitionDuration="1000"
            shape="shapeCrossFunction()"
            legendColor="colorFunction()">
            <svg></svg>
          </nvd3-scatter-chart>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->

  </section>
  <!--row-->
</section>
