.no-border{

  .list-group-item {
    border-left: 0px;
    border-right: 0px;

    // Round the first and last items
    &:first-child {
      border-top: 0px;
      @include border-top-radius($list-group-border-radius);
    }
    &:last-child {
      margin-bottom: 0;
      @include border-bottom-radius($list-group-border-radius);
    }
  }

}

a.list-group-item {
  color: $text-color;

  &:hover{
    background: $header-bg;
  }
}
.list-group-item, a.list-group-item {
  margin-bottom: 0;
  border: 0 none;
  border-bottom: 1px solid $line;
}
