
.nav-tabs {
  border-bottom: 1px solid $nav-tabs-border-color;
  background: $header-bg;
}


.nav-stacked {
  margin-bottom: 10px;

  > li {
    float: left;
    margin-right: 10px;

    + li {
      margin-top: 0px;
      margin-left: 0; // no need for this gap between nav items
    }
  }
}


.tab-content {
  background: $white;
  margin-bottom: 20px;

  > .tab-pane {
    display: none;

  }
  > .active {
    display: block;
    padding: 15px;
  }
}

