
.table-bordered {
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid $table-border-color;
    background: $header-bg;
  }
}


.table {

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-top: 1px solid $table-border-color;
        font-weight: normal;
      }
    }
  }
  > thead > tr > th {
    border-bottom: 1px solid $table-border-color;
    color: $h-color;
    font-weight: normal;
  }
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border: 0px;
      }
    }
  }
  > tbody + tbody {
    border-top: 1px solid $table-border-color;
  }

  .table {
    background-color: $body-bg;
  }
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: $header-bg;
}