<section data-slim-scroll-body>
  <div class="chat-window-wrapper" data-ng-controller="chatController">
    <div class="chat-header">
      <input type="text" placeholder="search" class="form-control">
    </div>
    <div class="side-widget">
      <div class="side-widget-title">group chats</div>
      <div class="side-widget-content">
        <div class="list-group chat-group">
          <a class="list-group-item"><span class="status-green m-r-10"></span>Office work</a>
          <a class="list-group-item"><span class="status-purple m-r-10"></span>Love </a>
          <a class="list-group-item"><span class="status-yellow m-r-10"></span>Home </a>
          <a class="list-group-item"><span class="status-blue m-r-10"></span>Personal </a>
        </div>
      </div>
    </div>
    <div class="side-widget">
      <div class="side-widget-title p-b-10">favourites</div>
      <div class="side-widget-content">
        <div class="list-group">
          <a class="list-group-item" ng-repeat="user in chatUsers01">
            <div class="user-profile">
              <img ng-src="images/{{user.img}}.jpg" alt="" data-ng-src="images/{{user.img}}.jpg"
                   width="35" height="35">
            </div>
            <div class="user-details">
              <div class="user-name">
                {{user.name}}
              </div>
              <div class="user-more">
                {{user.detail}}
              </div>
            </div>
            <!--            <div class="user-details-status-wrapper">
									  <span class="badge badge-warning">3</span>
									</div>-->
            <div class="user-details-count-wrapper">
              <small ng-switch on="user.online">
                <span ng-switch-when="true">
                    <span class="status-green"></span>
                </span>
                <span ng-switch-default>
                    <span class="status-red"></span>
                </span>
              </small>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>
    </div>
    <div class="side-widget">
      <div class="side-widget-title p-b-10">more friends</div>
      <div class="side-widget-content">
        <div class="list-group">
          <a class="list-group-item" ng-repeat="user in chatUsers02">
            <div class="user-profile">
              <img ng-src="images/{{user.img}}.jpg" alt="" data-ng-src="images/{{user.img}}.jpg"
                   width="35" height="35">
            </div>
            <div class="user-details">
              <div class="user-name">
                {{user.name}}
              </div>
              <div class="user-more">
                {{user.detail}}
              </div>
            </div>
            <!--        <div class="user-details-status-wrapper">
								  <span class="badge badge-purple">3</span>
								</div>-->
            <div class="user-details-count-wrapper">
              <small ng-switch on="user.online">
                <span ng-switch-when="true">
                    <span class="status-green"></span>
                </span>
                <span ng-switch-default>
                    <span class="status-grey"></span>
                </span>
              </small>
            </div>
            <div class="clearfix"></div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

