<div class="triangle"></div>
<div class="ns-popover-tooltip">
  <h4 class="text-center m-b-10">
    NOTIFICATIONS

  </h4>

  <div class="notification-messages info">
    <div class="user-profile">
      <img src="images/d.jpg" width="35" height="35" class="img-circle">
    </div>
    <div class="message-wrapper">
      <div class="heading">
        David Nester - Commented on your wall
      </div>
      <div class="description">
        Meeting postponed to tomorrow
      </div>
      <div class="date pull-left">
        Just now
      </div>
    </div>

  </div>
  <div class="notification-messages danger">
    <div class="iconholder">
      <img src="images/b.jpg" width="35" height="35" class="img-circle">
    </div>
    <div class="message-wrapper">
      <div class="heading">
        Server load limited
      </div>
      <div class="description">
        Database server has reached its daily capicity
      </div>
      <div class="date pull-left">
        Yesterday
      </div>
    </div>

  </div>
  <div class="notification-messages success">
    <div class="user-profile">
      <img src="images/f.jpg" width="35" height="35" class="img-circle">
    </div>
    <div class="message-wrapper">
      <div class="heading">
        You have've got 150 messages
      </div>
      <div class="description">
        150 newly unread messages in your inbox
      </div>
      <div class="date pull-left">
        Yesterday
      </div>
    </div>

  </div>
  <!--message-->
</div>
