<section class="page-title">
  <h3>Invoice</h3>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard">Dashboard</a></li>
    <li class="active">Invoice</li>
  </ol>
  <div class="clearfix"></div>
</section>

<section class="content">

  <div class="row">
    <div class="col-md-12">
      <div class="panel">
        <div class="panel-body no-padding">
          <div class="row bg-lightGray no-margin">
            <div class="col-xs-12 padding-20">
              <br/>

              <div class="pull-left">
                <i class="fa fa-apple fa fa-3x"></i>
                <address>
                  <strong>Apple Inc.</strong><br/>
                  www.apple.com<br/>
                  1 Infinite Loop<br/>
                  95014 Cuperino, CA<br/>
                  United States<br/>
                  <abbr class="text-black">Telephone</abbr> : 800-692-7753<br/>
                  <abbr class="text-black">Fax</abbr> : 800-692-7753
                </address>
              </div>
              <div class="clearfix"></div>
            </div>
            <!--col-->
            <div class="col-md-9 padding-20">
              <h4 class="font-bold text-black">Daren forthway</h4>
              <address>
                <strong>Swan Holdings.</strong><br/>
                2334545 Folsom Ave, Suite 6768778<br/>
                San Francisco, CA 56567<br/>
                <abbr class="text-black">Telephone</abbr>: (123) 456-7890
              </address>
            </div>
            <div class="col-md-3 padding-20"><br/>

              <div>
                <div class="pull-left"> INVOICE NO :</div>
                <div class="pull-right"> 2788</div>
                <div class="clearfix"></div>
              </div>
              <div>
                <div class="pull-left"> INVOICE DATE :</div>
                <div class="pull-right"> 15/05/15</div>
                <div class="clearfix"></div>
              </div>
              <br/>

              <div class="well bg-success text-white">
                <div class="pull-left"> Total Due :</div>
                <div class="pull-right"> 84,000 USD</div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
          <div class="padding-20 table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th style="width:60px" class=" text-center">QTY</th>
                  <th class="text-left">DESCRIPTION</th>
                  <th style="width:140px" class="text-right">UNIT PRICE</th>
                  <th style="width:90px" class="text-right">TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td class=" text-center">1</td>
                  <td>iPhone 5 32GB White &amp; Silver (GSM) Unlocked</td>
                  <td class="text-right">$749.00</td>
                  <td class="text-right">$749.00</td>
                </tr>
                <tr>
                  <td class=" text-center">2</td>
                  <td>iPad mini with Wi-Fi 32GB - White &amp; Silver</td>
                  <td class="text-right">$429.00</td>
                  <td class="text-right">$858.00</td>
                </tr>
                <tr>
                  <td colspan="2" rowspan="4"><h4 class="font-bold text-black">terms and
                    conditions</h4>

                    <p>Thank you for your business. We do expect payment within 21 days, so please
                      process this invoice within that time. There will be a 1.5% interest charge
                      per month on late invoices.</p>
                    <h5 class="text-right font-bold">Thank you for your business</h5></td>
                  <td class="text-right text-black"><strong>Subtotal</strong></td>
                  <td class="text-right">$1607.00</td>
                </tr>
                <tr>
                  <td class="text-right text-black"><strong>Shipping</strong></td>
                  <td class="text-right">$0.00</td>
                </tr>
                <tr>
                  <td class="text-right text-black"><strong>VAT Included in Total</strong></td>
                  <td class="text-right">$0.00</td>
                </tr>
                <tr>
                  <td class="text-right">
                    <div class="well well-small bg-success padding-10"><strong>Total</strong></div>
                  </td>
                  <td class="text-right"><strong>$1607.00</strong></td>
                </tr>
              </tbody>
            </table>
            <br/>
            <br/>
            <h5 class="text-right text-black">Designer identity</h5>
            <h5 class="text-right font-bold text-black">Tom Smith</h5>
            <br/>
            <br/>
          </div>

        </div>
      </div>
    </div>
  </div>

</section>
