<section class="page-title">
  <h3>Map</h3>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard">Dashboard</a></li>
    <li class="active">Map</li>
  </ol>
  <div class="clearfix"></div>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel" data-ng-controller="BasicTilesZoomChangerController">
        <div class="panel-heading">
          Angular Map
        </div>
        <div class="panel-body">
          <p>
            Simple to use directive for easy embedding and interacting with a map managed with the <a>leaflet
            map library</a> on an <a href="http://angularjs.org">AngularJS</a> application.
          </p>
          <leaflet center="london" tiles="tiles" height="300px" width="100%"></leaflet>
        </div>
      </div>
    </div>
    <!--col-->

    <div class="col-xs-12 col-sm-6">
      <div class="panel" data-ng-controller="BasicMaxBoundsPadController">
        <div class="panel-heading">
          Open Street Map
        </div>
        <div class="panel-body">
          <p>This directive allows you to embed a map on your <strong>AngularJS</strong>
            application and interact bi-directionally with it via the
            <a>AngularJS scope</a> and the
            <a>leaflet map library API</a>.
            In its current state, it's not a full-featured library, although it's easy to use and extend,
            and a good starting point to learn to code a directive into the great AngularJS library.</p>

          <p>The code of the directive and this page has been inspired by the
            <a>Angular Google Maps</a>
            directive developed by <a>nlaplante</a>.
            The initial code has been (and is being) evolved and improved by
            <a>these contributors</a>.</p>
          <leaflet center="center" layers="layers" markers="markers" maxbounds="maxbounds" width="100%"
                   height="300px"></leaflet>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-6">
      <div class="panel" data-ng-controller="mapCtrl">
        <div class="panel-heading">
          Map
        </div>
        <div class="panel-body">
          <p>This directive allows you to embed a map on your <strong>AngularJS</strong>
            application and interact bi-directionally with it via the
            <a>AngularJS scope</a> and the
            <a>leaflet map library API</a>.
            In its current state, it's not a full-featured library, although it's easy to use and extend,
            and a good starting point to learn to code a directive into the great AngularJS library.</p>

          <p>The code of the directive and this page has been inspired by the
            <a>Angular Google Maps</a>
            directive developed by <a>nlaplante</a>.
            The initial code has been (and is being) evolved and improved by
            <a>these contributors</a>.</p>
          <leaflet id="mymap" defaults="defaults" height="300px" width="100%"></leaflet>
        </div>
      </div>
    </div>
    <!--col-->
  </div>
  <!--row-->
</section>
