<section class="sign">
  <h2 class="sign-logo"><a ui-sref="app.dashboard"><img src="images/logo.png" width="300"/></a></h2>

  <form role="form">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="checkbox check-info	">
      <input id="checkbox2" type="checkbox" value="1" checked="checked" class="needsclick">
      <label for="checkbox2">I agree!</label>
    </div>
    <div class="clearfix"></div>
    <div class="p-t-10"><a class="btn btn-line-primary btn-block" ui-sref="app.index">Sign In</a></div>
    <div class="sign_a m-t-20"><span><a>Trouble login in?</a></span><span class=" pull-right"><a ui-sref="signUp">
      Create an account!</a></span></div>
  </form>
  <br/>
  <br/>
  <br/>
</section>
