<section class="signUp">
  <h2 class="sign-logo"><a ui-sref="app.dashboard"><img src="images/logo.png" width="300"/></a></h2>

  <form role="form">
    <div class="form-group">
      <input type="text" class="form-control" id="username" placeholder="User Name"/>
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="MailAddress" placeholder="Mail Address"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="firstName" placeholder="First Name"/>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" id="lastName" placeholder="Last Name"/>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email"/>
    </div>
    <div class="clearfix"></div>
    <div class="p-t-20"><a class="btn btn-line-primary btn-block" ui-sref="app.index">Sign Up</a></div>
  </form>
  <br/>
  <br/>
  <br/>
</section>
