<section class="page-title">
  <h3>UserProfile</h3>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard">Dashboard</a></li>
    <li class="active">UserProfile</li>
  </ol>
  <div class="clearfix"></div>
</section>

<section class="content">
  <div style="background:url(images/11.jpg) center center; background-size:cover;">
    <section class="row padding-20">
      <div class="col-sm-7 m-t-10">
        <a href="" class=" pull-left m-r-20">
          <img ng-src="images/a.jpg" class="img-circle" width="80px">
        </a>

        <div class="clear">
          <div class="m-t-10">
            <span class="h3 text-white font-bold">John.Smith</span>
            <small class="text-black">London, UK</small>
          </div>
          <p class="m-t-10">
            <a class=" circle-blue"><i class="fa fa-twitter"></i></a>
            <a class=" circle-green"><i class="fa fa-facebook"></i></a>
            <a class=" circle-purple"><i class="fa fa-google-plus"></i></a>
          </p>

        </div>
      </div>
      <div class="col-sm-5">
        <div class="pull-right follow">

          <a class="  inline m-r-10">
            <span class="h3 text-green font-bold" count-to="2345" count-from="0" duration="2"></span>
            <br/>
            <h5 class="text-white">Followers</h5>
          </a>

          <a class=" inline m-r-10">
            <span class="h3 text-green font-bold" count-to="124" count-from="0" duration="2"></span>
            <br/>
            <h5 class="text-white">Following</h5>
          </a>

          <P class="clearfix p-r-10">
            <a class="btn btn-purple btn-circle btn-xs">Follow</a>
          </P>

        </div>
      </div>
    </section>
  </div>
  <section class="row m-t-20">
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
      <div class="panel writePost">
        <form>
          <textarea class="form-control" rows="3"></textarea>
        </form>
        <div class="panel-footer no-border">
          <div class="pull-left">
            <button class="btn btn-default btn-xs m-r-10" type="button"><i class="fa fa-camera"></i></button>
            <button class="btn btn-default btn-xs" type="button"><i class="fa fa-map-marker"></i></button>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary btn-xs" type="button">POST</button>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
      <!--panel-->
      <div class="panel">
        <div class="panel-body">
          <div class="post">
            <div class="user-profile-pic-wrapper">
              <div class="user-profile-pic-normal">
                <img width="35" height="35" ng-src="images/a.jpg">
              </div>
            </div>
            <div class="info-wrapper">
              <div class="username">
                <span class="dark-text">Cartman Kyle</span>
              </div>
              <div class="info">
                <h4>jQuery required</h4>

                <p>Please note that <strong>all JavaScript plugins require jQuery</strong> to be included, as shown
                  in the <a href="#template">starter template</a>. <a>Consult our <code>bower.json</code></a> to
                  see which versions of jQuery are supported.</p>

              </div>
              <div class="more-details">
                <ul class="post-links">
                  <li><a href="#" class="text-muted">3 Seconds ago</a></li>
                  <li><a href="#" class="text-info">Collapse</a></li>
                  <li><a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a></li>
                  <li><a href="#" class="text-warning"><i class="fa fa-star"></i> Favourited</a></li>
                  <li><a href="#" class="text-muted"></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>

              <ul class="action-bar">
                <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 3</a> Comments</li>
                <li><a href="#" class="text-danger"><i class="fa fa-heart "></i> 2</a> likes</li>
              </ul>

              <div class="clearfix"></div>
              <div class="post comments-section">
                <div class="user-profile-pic-wrapper">
                  <div class="user-profile-pic-normal">
                    <img width="35" height="35" alt="" ng-src="images/e.jpg">
                  </div>
                </div>
                <div class="info-wrapper">
                  <div class="username">
                    <span class="dark-text">Toto Titi</span>
                  </div>
                  <div class="info">
                    It is very <span class="dark-text">Good</span> &amp; <span
                    class="dark-text">beautiful</span>!
                  </div>
                  <div class="more-details">
                    <ul class="post-links">
                      <li><a href="#" class="text-muted">3 hours ago</a></li>
                      <li><a href="#" class="text-danger"><i class="fa fa-heart"></i> Like</a></li>
                      <li><a href="#" class="text-muted">Details</a></li>
                    </ul>
                  </div>

                </div>
                <div class="clearfix"></div>
              </div>
              <div class="post comments-section">
                <div class="user-profile-pic-wrapper">
                  <div class="user-profile-pic-normal">
                    <img width="35" height="35" ng-src="images/f.jpg" alt="">
                  </div>
                </div>
                <div class="info-wrapper">
                  <div class="username">
                    <span class="dark-text">Superman Yoda</span>
                  </div>
                  <div class="info">
                    Oh, <span class="dark-text">Amazed</span> &amp; <span class="dark-text">Surprise</span>
                  </div>
                  <div class="more-details">
                    <ul class="post-links">
                      <li><a href="#" class="text-muted">One day ago</a></li>
                      <li><a href="#" class="text-danger"><i class="fa fa-heart"></i> Like</a></li>
                      <li><a href="#" class="text-muted">Details</a></li>
                    </ul>
                  </div>

                </div>
                <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel">
        <div class="panel-body">
          <div class="post">
            <div class="user-profile-pic-wrapper">
              <div class="user-profile-pic-normal">
                <img width="35" height="35" ng-src="images/d.jpg">
              </div>
            </div>
            <div class="info-wrapper">
              <div class="username">
                <span class="dark-text">Luke Kyle</span>
              </div>
              <div class="info">
                <h4 id="grunt-installing">Installing Grunt</h4>

                <p>To install Grunt, you must <strong>first <a>download and install node.js</a></strong> (which
                  includes npm). npm stands for
                  <a>node packaged modules</a> and is a way to manage development dependencies through node.js.
                </p>
                Then, from the command line:
                <ol>
                  <li>Install <code>grunt-cli</code> globally with <code>npm install -g grunt-cli</code>.</li>
                  <li>Navigate to the root <code>/bootstrap/</code> directory, then run <code>npm install</code>.
                    npm will look at the <a><code>package.json</code></a> file and automatically install the
                    necessary local dependencies listed there.
                  </li>
                </ol>
                <p>When completed, you'll be able to run the various Grunt commands provided from the command
                  line.</p>

              </div>
              <div class="-details">
                <ul class="post-links">
                  <li><a href="#" class="text-muted">1 Minutes ago</a></li>
                  <li><a href="#" class="text-info">Collapse</a></li>
                  <li><a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a></li>
                  <li><a href="#" class="text-warning"><i class="fa fa-star"></i> Favourited</a></li>
                  <li><a href="#" class="text-muted"></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>

              <ul class="action-bar">
                <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 21</a> Comments</li>
                <li><a href="#" class="text-danger"><i class="fa fa-heart "></i> 45</a> likes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <div class="post">
            <div class="user-profile-pic-wrapper">
              <div class="user-profile-pic-normal">
                <img width="35" height="35" ng-src="images/a.jpg">
              </div>
            </div>
            <div class="info-wrapper">
              <div class="username">
                <span class="dark-text">Cartman Kyle</span>
              </div>
              <div class="info">
                <h4 id="grunt-commands">Available Grunt commands</h4>
                <h5><code>grunt dist</code> (Just compile CSS and JavaScript)</h5>

                <p>Regenerates the <code>/dist/</code> directory with compiled and minified CSS and JavaScript
                  files. As a Bootstrap user, this is normally the command you want.</p>
                <h5><code>grunt watch</code> (Watch)</h5>

                <p>Watches the Less source files and automatically recompiles them to CSS whenever you save a
                  change.</p>
                <h5><code>grunt test</code> (Run tests)</h5>

                <p>Runs <a>JSHint</a> and runs the <a>QUnit</a> tests headlessly in <a>PhantomJS</a>.</p>
                <h5><code>grunt docs</code> (Build &amp; test the docs assets)</h5>

                <p>Builds and tests CSS, JavaScript, and other assets which are used when running the documentation
                  locally via <code>jekyll serve</code>.</p>
                <h5><code>grunt</code> (Build absolutely everything and run tests)</h5>

                <p>Compiles and minifies CSS and JavaScript, builds the documentation website, runs the HTML5
                  validator against the docs, regenerates the Customizer assets, and more. Requires <a>Jekyll</a>.
                  Usually only necessary if you're hacking on Bootstrap itself.</p>
              </div>
              <div class="-details">
                <ul class="post-links">
                  <li><a href="#" class="text-muted">3 Seconds ago</a></li>
                  <li><a href="#" class="text-info">Collapse</a></li>
                  <li><a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a></li>
                  <li><a href="#" class="text-warning"><i class="fa fa-star"></i> Favourited</a></li>
                  <li><a href="#" class="text-muted"></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>

              <ul class="action-bar">
                <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 3</a> Comments</li>
                <li><a href="#" class="text-danger"><i class="fa fa-heart "></i> 2</a> likes</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="panel">
        <div class="panel-body">
          <div class="post">
            <div class="user-profile-pic-wrapper">
              <div class="user-profile-pic-normal">
                <img width="35" height="35" ng-src="images/b.jpg">
              </div>
            </div>
            <div class="info-wrapper">
              <div class="username">
                <span class="dark-text">John Drake</span> in <span class="dark-text">nervada hotspot</span>
              </div>
              <div class="info">
                <p>Bootstrap (currently <span class="dark-text">v3.3.4</span>) has a few easy ways to quickly get
                  started,
                  each one appealing to a different skill level and use case. Read through to see what suits your
                  particular needs.</p>
              </div>
              <div class="more-details">
                <ul class="post-links">
                  <li><a href="#" class="text-muted">5 Minutes ago</a></li>
                  <li><a href="#" class="text-info">Collapse</a></li>
                  <li><a href="#" class="text-info"><i class="fa fa-reply"></i> Reply</a></li>
                  <li><a href="#" class="text-warning"><i class="fa fa-star"></i> Favourited</a></li>
                  <li><a href="#" class="text-muted"></a></li>
                </ul>
              </div>
              <div class="clearfix"></div>

              <ul class="action-bar">
                <li><a href="#" class="text-muted"><i class="fa fa-comment"></i> 2344</a> Comments</li>
                <li><a href="#" class="text-danger"><i class="fa fa-heart "></i> 41k</a> likes</li>
              </ul>
              <div class="clearfix"></div>
              <div class="post comments-section">
                <div class="user-profile-pic-wrapper">
                  <div class="user-profile-pic-normal">
                    <img width="35" height="35" alt="" ng-src="images/e.jpg">
                  </div>
                </div>
                <div class="info-wrapper">
                  <div class="username">
                    <span class="dark-text">Toto Titi</span>
                  </div>
                  <div class="info">
                    Congrats, <span class="dark-text">John Smith</span> &amp; <span
                    class="dark-text">Jane Smith</span>
                  </div>
                  <div class="more-details">
                    <ul class="post-links">
                      <li><a href="#" class="text-muted">2 Minutes ago</a></li>
                      <li><a href="#" class="text-danger"><i class="fa fa-heart"></i> Like</a></li>
                      <li><a href="#" class="text-muted">Details</a></li>
                    </ul>
                  </div>

                </div>
                <div class="clearfix"></div>
              </div>
              <div class="post comments-section">
                <div class="user-profile-pic-wrapper">
                  <div class="user-profile-pic-normal">
                    <img width="35" height="35" ng-src="images/f.jpg">
                  </div>
                </div>
                <div class="info-wrapper">
                  <div class="username">
                    <span class="dark-text">Superman Yoda</span>
                  </div>
                  <div class="info">
                    Congrats, <span class="dark-text">John Smith</span> &amp; <span
                    class="dark-text">Jane Smith</span>
                  </div>
                  <div class="more-details">
                    <ul class="post-links">
                      <li><a href="#" class="text-muted">2 Minutes ago</a></li>
                      <li><a href="#" class="text-danger"><i class="fa fa-heart"></i> Like</a></li>
                      <li><a href="#" class="text-muted">Details</a></li>
                    </ul>
                  </div>

                </div>
                <div class="clearfix"></div>
              </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <br>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="panel">
        <div class="panel-body">
          <div class="chat-window-wrapper" data-ng-controller="chatController">
            <div class="side-widget">
              <div class="side-widget-title p-b-10">more friends</div>
              <div class="side-widget-content">
                <div class="list-group">
                  <a class="list-group-item" ng-repeat="user in chatUsers02" style="padding-left: 0px;">
                    <div class="user-profile">
                      <img ng-src="images/{{user.img}}.jpg" alt=""
                           data-ng-src="images/{{user.img}}.jpg"
                           width="35" height="35">
                    </div>
                    <div class="user-details">
                      <div class="user-name text-inverse">
                        {{user.name}}
                      </div>
                      <div class="user-more">
                        {{user.job}}
                      </div>
                    </div>
                    <div class="user-details-count-wrapper" style="right: 0px;">
                      <small ng-switch on="user.online">
                                                <span ng-switch-when="true">
                                                    <span class="status-green"></span>
                                                </span>
                                                <span ng-switch-default>
                                                    <span class="status-grey"></span>
                                                </span>
                      </small>
                    </div>
                    <div class="clearfix"></div>
                  </a>
                </div>
                <!--list-group-->
              </div>
            </div>
          </div>
          <!--chat-window-wrapper-->
        </div>
        <!--panel-body-->
      </div>
      <!--panel-->
    </div>
    <!--col-->
  </section>
  <!--row-->
</section>
