<section class="page-title">
  <h3>Widget</h3>
  <ol class="breadcrumb">
    <li><a ui-sref="app.dashboard">Dashboard</a></li>
    <li class="active">Widget</li>
  </ol>
  <div class="clearfix"></div>
</section>
<section class="content" data-ng-controller="widgetCtrl">
  <section class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-five">
            <div class="tile-content">
              <h4><span count-to="2893" duration="2" count-from="0"></span></h4>

              <p>views of your pages</p>
            </div>
            <div class="sparkline">

              <sparkline data="sparklineData" options="sparklineOptions.bar"></sparkline>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-five">
            <div class="tile-content">
              <h4><span count-to="2893" duration="2" count-from="0"></span></h4>

              <p>views of your pages</p>
            </div>
            <div class="sparkline">

              <sparkline data="sparklineData" options="sparklineOptions.line"></sparkline>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-five">
            <div class="tile-content">
              <h4><span count-to="2893" duration="2" count-from="0"></span></h4>

              <p>views of your pages</p>
            </div>
            <div class="sparkline">

              <sparkline data="sparklineData" options="sparklineOptions.area"></sparkline>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--col-->
  </section>
  <!--rows-->
  <section class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">

      <div class="panel">
        <div class="panel-body">
          <div class="tile-four text-left">
            <div easypiechart options="easyPieOptions1" percent="easyPiePercent1" class="easy-pie-small">
              <h4><span class="easy-pie-percent" count-to="{{easyPiePercent1}}" count-from="0"
                        duration="3"></span>%</h4>
            </div>
            <div class="tile-content">
              <h3><span count-to="15" duration="2" count-from="0"></span></h3>

              <p>user visited</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-four text-left">
            <div easypiechart options="easyPieOptions2" percent="easyPiePercent2" class="easy-pie-small">
              <h4><span class="easy-pie-percent" count-to="{{easyPiePercent2}}" count-from="0"
                        duration="3"></span>%</h4>
            </div>
            <div class="tile-content">
              <h3><span count-to="23" duration="2" count-from="0"></span></h3>

              <p>GOALS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-four text-left">
            <div easypiechart options="easyPieOptions3" percent="easyPiePercent3" class="easy-pie-small">
              <h4><span class="easy-pie-percent" count-to="{{easyPiePercent3}}" count-from="0"
                        duration="3"></span>%</h4>
            </div>
            <div class="tile-content">
              <h3><span count-to="56" duration="2" count-from="0"></span></h3>

              <p>sales</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-four text-left">
            <div easypiechart options="easyPieOptions4" percent="easyPiePercent4" class="easy-pie-small">
              <h4><span class="easy-pie-percent" count-to="{{easyPiePercent4}}" count-from="0"
                        duration="3"></span>%</h4>
            </div>
            <div class="tile-content">
              <h3><span count-to="89" duration="2" count-from="0"></span></h3>

              <p>error times</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
  </section>
  <!--rows-->
  <section class="row">
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel ">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-cloud circleBG-blue fa-2x"></i></div>
            <div class="tile-content">
              <h3><span count-to="90" duration="3" count-from="0"></span>%</h3>

              <p>service loads</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel ">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-users circleBG-green fa-2x"></i></div>

            <div class="tile-content">
              <h3><span count-to="2312" duration="3" count-from="0"></span></h3>

              <p>user total</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-cloud circleBG-purple fa-2x"></i></div>

            <div class="tile-content">
              <h3><span count-to="456" duration="3" count-from="0"></span>KB</h3>

              <p>TICKETS OPENED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-bar-chart circleBG-red fa-2x"></i></div>

            <div class="tile-content">
              <h3><span count-to="1234" duration="3" count-from="0"></span>K</h3>

              <p>DAILY VISITS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
  </section>
  <!--row-->
  <!--row-->
  <section class="row tile-one">
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="tile-stats"><span class="tile-i tile-orange"><i class="fa fa-users fa-2x"></i></span>

        <div class="tile-text"><span count-to="150" duration="3" count-from="0"></span>

          <p> Visitors</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="tile-stats"><span class="tile-i tile-green"><i class="fa fa-bar-chart-o fa-2x"></i></span>

        <div class="tile-text"><span count-to="342" duration="3" count-from="0"></span>

          <p>Orders</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="tile-stats"><span class="tile-i tile-blue"><i class="fa fa-envelope fa-2x"></i></span>

        <div class="tile-text"><span count-to="836" duration="3" count-from="0"></span>

          <p> Messages</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="tile-stats"><span class="tile-i tile-default"><i class="fa fa-cloud-download fa-2x"></i></span>

        <div class="tile-text"><span count-to="320" duration="3" count-from="0"> </span>

          <p> Downloads</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="tile-stats"><span class="tile-i tile-purple"><i class="fa fa-copy fa-2x"></i></span>

        <div class="tile-text"><span count-to="211" duration="3" count-from="0"></span>

          <p> New Article</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
      <div class="tile-stats"><span class="tile-i tile-red"><i class="fa fa-comments-o fa-2x"></i></span>

        <div class="tile-text"><span count-to="134" duration="3" count-from="0"></span>

          <p> Comments</p>
        </div>
      </div>
    </div>
  </section>
  <!--row-->
  <section class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div data-ng-controller="guageCtrl" class="text-center">
            <h5 class="m-t-10">
              <i class="fa fa-angle-left pull-left"></i>
              FEBRUARY 2015
              <i class="fa fa-angle-right pull-right"></i>
            </h5>
            <d3-guage guage-option="data.guageOption"></d3-guage>
            <p class="text-muted"><span count-to="50" count-from="0" duration="2"></span>% of <span
              class="text-purple">10GB</span> used</p>

          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->

    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div class="text-left">
            <h5 class="">
              FEBRUARY 2015
              <i class="fa fa-angle-right pull-right"></i>
              <i class="fa fa-angle-left pull-right m-r-20"></i>
            </h5>

            <div class="clearfix">
              <h3 class="text-success inline pull-left"><span count-to="2936" count-from="0"
                                                              duration="2"></span></h3>
              <small class="label label-danger pull-right padding-10 m-t-20"><i class="fa fa-plus"></i> <span
                count-to="24" count-from="0" duration="2"></span>%
              </small>
            </div>
            <p class="clearfix text-muted">Downloads per months</p>

            <div class="sparkline text-center">

              <sparkline data="sparklineData1" options="sparklineOptions1.bar"></sparkline>
            </div>
          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div class="text-left">
            <h3 class="text-info m-t-10"><span count-to="2936" count-from="0" duration="2"></span>
              <small class="m-l-10">DOWNLOADS</small>
            </h3>
            <p>January<span class="pull-right p-l-20" count-to="1024" count-from="0" duration="2"></span></p>

            <div class="progress progress-small m-b-10">
              <div style="width: 55%;" class="progress-bar progress-bar-info"></div>
            </div>
            <p>January<span class="pull-right p-l-20" count-to="1024" count-from="0" duration="2"></span></p>

            <div class="progress progress-small m-b-10">
              <div style="width: 48%;" class="progress-bar progress-bar-primary"></div>
            </div>
            <p>January<span class="pull-right p-l-20" count-to="1024" count-from="0" duration="2"></span></p>

            <div class="progress progress-small m-b-10">
              <div style="width: 74%;" class="progress-bar progress-bar-success"></div>
            </div>

          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->

  </section>
  <!--row-->
  <section class="row">
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel panel-bg-info">
        <div class="panel-body">
          <div class="tile-two">
            <small>TODAY’S SERVER LOAD</small>
            <h3><span count-to="80" count-form="0" duration="2"></span> %</h3>

            <div class="progress progress-small">
              <div style="width: 80%" class="progress-bar progress-bar-white"></div>
            </div>
            <p><i class="fa fa-arrow-circle-o-up m-r-10"></i>3% higher
              <small> than last month</small>
            </p>
          </div>

        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel panel-bg-primary">
        <div class="panel-body">
          <div class="tile-two">
            <small>TODAY’S VISITS</small>
            <h3><span count-to="45" duration="2" count-form="0"></span> %</h3>

            <div class="progress progress-small">
              <div style="width: 45%" class="progress-bar progress-bar-white"></div>
            </div>
            <p><i class="fa fa-arrow-circle-o-up m-r-10"></i>6% higher
              <small> than last month</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel  panel-bg-success">
        <div class="panel-body">
          <div class="tile-two">
            <small>TODAY’S SALES</small>
            <h3><span count-to="23" duration="2" count-form="0"></span> %</h3>

            <div class="progress progress-small">
              <div style="width: 23%" class="progress-bar progress-bar-white"></div>
            </div>
            <p><i class="fa fa-arrow-circle-o-up m-r-10"></i>4% higher
              <small> than last month</small>
            </p>
          </div>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel panel-bg-danger">
        <div class="panel-body">
          <div class="tile-two">
            <small>TODAY’S ORDERS</small>
            <h3><span count-to="67" duration="2" count-form="0"></span> %</h3>

            <div class="progress progress-small">
              <div style="width: 67%" count-form="0" class="progress-bar progress-bar-white"></div>
            </div>
            <p><i class="fa fa-arrow-circle-o-up m-r-10"></i>12% higher
              <small> than last month</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel panel-bg-warning">
        <div class="panel-body">
          <div class="tile-two">
            <small>TODAY’S FEED BACK</small>
            <h3><span count-to="47" duration="2" count-form="0"></span> %</h3>

            <div class="progress progress-small">
              <div style="width: 47%" class="progress-bar progress-bar-white"></div>
            </div>
            <p><i class="fa fa-arrow-circle-o-up m-r-10"></i>5% higher
              <small> than last month</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-4 ">
      <div class="panel panel-bg-purple">
        <div class="panel-body">
          <div class="tile-two">
            <small>TODAY’S RESPONSIVE TIME</small>
            <h3><span count-to="23" duration="2" count-form="0"></span> %</h3>

            <div class="progress progress-small">
              <div style="width: 23%" class="progress-bar progress-bar-white"></div>
            </div>
            <p><i class="fa fa-arrow-circle-o-up m-r-10"></i>2% higher
              <small> than last month</small>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
  </section>
  <!--row-->
</section>
