<div class="page-title">
  <h3>Dashboard</h3>

  <div class="clearfix"></div>
</div>

<div class="content" data-ng-controller="dashboardCtrl">
  <section class="row">
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel ">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-cloud circleBG-blue fa-2x"></i></div>
            <div class="tile-content">
              <h3>{{percentage1}}%</h3>

              <p>service loads</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel ">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-users circleBG-green fa-2x"></i></div>

            <div class="tile-content">
              <h3>{{data1}}GB</h3>

              <p>user total</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-cloud circleBG-purple fa-2x"></i></div>

            <div class="tile-content">
              <h3>{{data2}}MB</h3>

              <p>TICKETS OPENED</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
    <div class=" col-xs-12 col-sm-6 col-md-3 ">
      <div class="panel">
        <div class="panel-body">
          <div class="tile-three">
            <div class="tile-icon"><i class="fa fa-bar-chart circleBG-red fa-2x"></i></div>

            <div class="tile-content">
              <h3>{{data3}}KB</h3>

              <p>DAILY VISITS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--col-->
  </section>
  <!--row-->
  <section class="row">
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div data-ng-controller="guageCtrl" class="text-center">
            <h5 class="m-t-10">
              <i class="fa fa-angle-left pull-left"></i>
              FEBRUARY 2015
              <i class="fa fa-angle-right pull-right"></i>
            </h5>
            <d3-guage guage-option="data.guageOption"></d3-guage>
            <p class="text-muted"><span count-to="50" count-from="0" duration="2"></span>% of <span
              class="text-purple">10GB</span> used</p>

          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->

    <div class="col-xs-12 col-sm-4 col-md-4" data-ng-controller="widgetCtrl">
      <div class="panel">
        <div class="panel-body">
          <div class="text-left">
            <h5 class="">
              FEBRUARY 2015
              <i class="fa fa-angle-right pull-right"></i>
              <i class="fa fa-angle-left pull-right m-r-20"></i>
            </h5>

            <div class="clearfix">
              <h3 class="text-success inline pull-left">{{data1}}</h3>
              <small class="label label-danger pull-right padding-10 m-t-20"><i class="fa fa-plus m-r-10"></i>{{percentage1}}%
              </small>
            </div>
            <p class="clearfix text-muted">Downloads per months</p>

            <div class="sparkline text-center">

              <sparkline data="sparklineData1" options="sparklineOptions1.bar"></sparkline>
            </div>
          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-4 col-md-4">
      <div class="panel">
        <div class="panel-body">
          <div class="text-left">
            <h3 class="text-info m-t-10">{{data2}}
              <small class="m-l-10 pull-right text-inverse">DOWNLOADS</small>
            </h3>
            <p>March<span class="pull-right p-l-20" count-to="1024" count-from="0" duration="2"></span></p>

            <div class="progress progress-small m-b-10">
              <div style="width: {{percentage1}}% ;" class="progress-bar progress-bar-danger"></div>
            </div>
            <p>January<span class="pull-right p-l-20" count-to="1024" count-from="0" duration="2"></span></p>

            <div class="progress progress-small m-b-10">
              <div style="width: {{percentage2}}% ;" class="progress-bar progress-bar-primary"></div>
            </div>
            <p>May<span class="pull-right p-l-20" count-to="1024" count-from="0" duration="2"></span></p>

            <div class="progress progress-small m-b-10">
              <div style="width: {{percentage3}}% ;" class="progress-bar progress-bar-success"></div>
            </div>

          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->

  </section>
  <!--row-->
  <section class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel">
        <div class="panel-heading">Line Chart</div>
        <div class="panel-body">
          <div data-ng-controller="LineCtrl">
            <div class="p-l-20">
              <ul class="list-inline row">
                <li class="col-xs-6"><i class="fa fa-circle m-r-10 text-blue"></i>Downloads Sales<br/></li>
                <li class="col-xs-6"><i class="fa fa-circle m-r-10 text-success"></i>In-Stores Sales<br/>
                </li>
              </ul>
            </div>

            <canvas id="line" class="chart chart-line" data="data"
                    labels="labels">
            </canvas>
          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="panel">
        <div class="panel-heading">Bar Chart</div>
        <div class="panel-body">
          <div data-ng-controller="BarCtrl">
            <div class="p-l-20">
              <ul class="list-inline row">
                <li class="col-xs-6"><i class="fa fa-dot-circle-o m-r-10 text-blue"></i>Downloads Sales<br/>
                </li>
                <li class="col-xs-6"><i class="fa fa-dot-circle-o m-r-10 text-success"></i>In-Stores
                  Sales<br/></li>
              </ul>
            </div>
            <canvas id="bar" class="chart chart-bar" data="data"
                    labels="labels" series="series"></canvas>
          </div>

        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
  </section>
  <!--row-->
  <div class="row">
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <h4 class="p-b-10">NOTIFICATIONS</h4>

          <div class="notification-messages info">
            <div class="user-profile">
              <img src="images/d.jpg" width="35" height="35" class="img-circle">
            </div>
            <div class="message-wrapper">
              <div class="heading">
                David Nester - Commented on your wall
              </div>
              <div class="description">
                Meeting postponed to tomorrow
              </div>
            </div>
            <div class="date pull-right">
              Just now
            </div>
          </div>
          <div class="notification-messages danger">
            <div class="iconholder">
              <img src="images/b.jpg" width="35" height="35" class="img-circle">
            </div>
            <div class="message-wrapper">
              <div class="heading">
                Server load limited
              </div>
              <div class="description">
                Database server has reached its daily capicity
              </div>
            </div>
            <div class="date pull-right">
              Yesterday
            </div>
          </div>
          <div class="notification-messages success">
            <div class="user-profile">
              <img src="images/f.jpg" width="35" height="35" class="img-circle">
            </div>
            <div class="message-wrapper">
              <div class="heading">
                You have've got 150 messages
              </div>
              <div class="description">
                150 newly unread messages in your inbox
              </div>
            </div>
            <div class="date pull-right">
              Yesterday
            </div>
          </div>
          <!--message-->
          <div class="notification-messages warning">
            <div class="user-profile">
              <img src="images/d.jpg" width="35" height="35" class="img-circle">
            </div>
            <div class="message-wrapper">
              <div class="heading">
                David Nester - Commented on your wall
              </div>
              <div class="description">
                Meeting postponed to tomorrow
              </div>
            </div>
            <div class="date pull-right">
              Just now
            </div>
          </div>
          <!--message-->
        </div>
      </div>
    </div>
    <!--col-->
    <div class="col-sm-6">
      <div class="panel">
        <div class="panel-body">
          <h4 class="p-b-10">Todo List</h4>

          <form>
            <div class="input-group">
              <input type="text" class="form-control" data-ng-model="newTask"
                     placeholder="Input Todo Content">
                           <span class="input-group-addon success" data-ng-click="addLists()">
                             <span class="arrow"></span>
                             <i class="fa fa-list"></i>
                         </span>
            </div>
          </form>
          <ul class="list-group m-t-10 ">

            <li class="list-group-item" data-ng-repeat="list in lists">
                        <span class="label pull-right"
                              data-ng-class="{
                              'label-success':list.status == 'green',
                              'label-danger':list.status == 'red',
                              'label-info':list.status == 'blue',
                              'label-primary':list.status == 'lightBlue',
                              'label-warning':list.status == 'orange'}">
                            {{list.time | date: 'yyyy-MM-dd'}}</span>

              <div class="checkbox check-success 	">
                <input id="{{list.id}}" type="checkbox" value="1">
                <label for="{{list.id}}">{{list.detail}}</label>
              </div>
            </li>
          </ul>

        </div>

      </div>
    </div>
    <!--col-->
    <div class="col-xs-12 col-sm-12 col-md-12" data-ng-controller="tableCtrl">
      <div class="panel">
        <div class="panel-heading">Table</div>
        <div class="panel-body">
          <div class="table-responsive">

            <table class="table">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Task</th>
                  <th>Leader</th>
                  <th>Complete</th>
                  <th>Due</th>
                  <th>Active</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td scope="row">1</td>
                  <td class="text-success">Update OpenSSL</td>
                  <td class="text-info"><i class="fa fa-user m-r-10"></i>jacob@test.com</td>
                  <td><label class="label label-success">OK</label></td>
                  <td>Monday</td>
                  <td>
                    <div class="sparkline">
                      <sparkline data="sparklineData" options="sparklineOptions.bar"></sparkline>
                    </div>

                  </td>
                </tr>
                <tr>
                  <td scope="row">2</td>
                  <td class="text-success">Change Passwords</td>
                  <td class="text-info"><i class="fa fa-user m-r-10"></i>tom@test.com</td>
                  <td><label class="label label-default">NO</label></td>
                  <td>Tuesday</td>
                  <td>
                    <div class="sparkline">
                      <sparkline data="sparklineData" options="sparklineOptions.line"></sparkline>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">3</td>
                  <td class="text-success">Send Notification</td>
                  <td class="text-info"><i class="fa fa-user m-r-10"></i>lily@test.com</td>
                  <td><label class="label label-danger">Error</label></td>
                  <td>Wednesday</td>
                  <td>
                    <div class="sparkline">
                      <sparkline data="sparklineData" options="sparklineOptions.area"></sparkline>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">4</td>
                  <td class="text-success">Edit OpenSSL</td>
                  <td class="text-info"><i class="fa fa-user m-r-10"></i>lucy@test.com</td>
                  <td><label class="label label-warning">Warning</label></td>
                  <td>Thursday</td>
                  <td>
                    <div class="sparkline">
                      <sparkline data="sparklineData1" options="sparklineOptions1.binary"></sparkline>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td scope="row">5</td>
                  <td class="text-success">Delete OpenSSL</td>
                  <td class="text-info"><i class="fa fa-user m-r-10"></i>lulu@test.com</td>
                  <td><label class="label label-info">Yes</label></td>
                  <td>Friday</td>
                  <td>
                    <div class="sparkline">
                      <sparkline data="sparklineData1" options="sparklineOptions1.bar"></sparkline>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--panel-->
    </div>
    <!--col-->
  </div>
  <!--row-->
</div>

